

<!-- Password: <input type="text" name="password" />

<input type="submit" value="Send" /> -->
<%= form_for :email, :url => { :action => "email" }  do |f|  %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Contact Us</h3>
    <div class="btn-group pull-right">
      <%= f.submit "Send", class: "btn btn-success" %>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-3 control-label">Your Name</label>
        <div class="col-xs-9">
          <%= f.text_field  :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Your Email</label>
        <div class="col-xs-9">
          <%= f.text_field  :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Subject</label>
        <div class="col-xs-9">
          <%= f.text_field  :subject, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">Your Message</label>
        <div class="col-xs-9">
          <%= f.text_area  :message, class: "form-control" %>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <small>whatsgoodaroundme@gmail.com</small>
  </div>
</div>
 <%end%>


