<div class="events-list">
  <%= render partial: 'users/events' %>
</div>

<div class="location"><h1>whatsgood</h1></div>
<!-- <div id="good_button" class="btn btn-default disabled">Show me what's good</div> -->

<ul>
  <li>Total items: <%= @result['total_items'] %></li>
  <li>Page Size: <%= @result['page_size'] %></li>
  <li>Pages: <%= @result['page_count'] %></li>
  <li>Page no: <%= @result['page_number'] %></li>
  <li>Search time: <%= @result['search_time'].round(2) %> seconds</li>
</ul>  
