<input type="hidden" name="page-number" value="1" id="page-number">
<input type="hidden" name="can-load-more" value="true" id="can-load-more">
<input type="hidden" name="search-date" value="<%= @date %>" id="search-date">


<div class='row'>
  <div class="events-list col-xs-12 col-md-7 col-lg-8">
    <%= render partial: 'events/events', :locals => {:events => @events} %>
    <h2 id="loading-status" class="pager"></h2>
  </div>
  <div class='allmaps col-md-5 col-lg-4 visible-md-block visible-lg-block'>
    <div id="multi_marks"></div>

    <% if current_user %>
      <%= render 'filter' %>
    <% end %>

    <div class="stats"><h1>whatsgood</h1>
      <ul>
        <li>Total items: <%= @result['total_items'] %></li>
        <li>Page Size: <%= @result['page_size'] %></li>
        <li>Pages: <%= @result['page_count'] %></li>
        <li>Page no: <%= @result['page_number'] %></li>
        <li>Search time: <%= @result['search_time'].round(2) %> seconds</li>
      </ul>  
    </div>
  </div>
</div>




