<input type="hidden" name="page-number" value="1" id="page-number">
<input type="hidden" name="can-load-more" value="true" id="can-load-more">
<div class='row'>
  <div class="events-list col-xs-12 col-md-7 col-lg-8">
    <%= render partial: 'events/events', :locals => {:events => @events} %>
  </div>
  <div class='allmaps col-md-5 col-lg-4 visible-md-block visible-lg-block'>
    <div id="multi_marks"></div>

    <% if current_user %>
      <div class="btn-group" id="cat-boxes" data-toggle="buttons">
        <% current_user.categories.each do |cat| %>
        <label class="btn btn-primary active">
          <input type="checkbox" value="<%= cat.category_id %>"checked> <%= cat.name %>
        </label>
        <% end %>
      </div>
      <button type="button" class="btn btn-success" id="cat-apply">Apply</button>
    <% end %>

    <div class="stats"><h1>whatsgood</h1>
      <h1 id="loading-status"></h1>
      <ul>
        <li>Total items: <%= @result['total_items'] %></li>
        <li>Page Size: <%= @result['page_size'] %></li>
        <li>Pages: <%= @result['page_count'] %></li>
        <li>Page no: <%= @result['page_number'] %></li>
        <li>Search time: <%= @result['search_time'].round(2) %> seconds</li>
      </ul>  

    </div>
  </div>
</div>



<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({
      internal: {id: 'multi_marks'},
      provider: {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:  mapStyle
      }
    },
    function(){
      if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  });


  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_marks'} }, function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
  });
  function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude,
    infowindow: "<h6 style=padding: 1.25em;>You're Here, Zoom Out!</h6>"
  });
  handler.map.centerOn(marker);
  handler.getMap();
  };

  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_marks'}}, function(){
    var markers = handler.addMarkers(
      <%=raw @hash.to_json%>
    );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

  var mapStyle = [{"featureType":"landscape","stylers":[{"hue":"#F1FF00"},{"saturation":-27.4},{"lightness":9.4},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#0099FF"},{"saturation":-20},{"lightness":36.4},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#00FF4F"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FFB300"},{"saturation":-38},{"lightness":11.2},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#00B6FF"},{"saturation":4.2},{"lightness":-63.4},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#9FFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]}]

  var handler = Gmaps.build('Google');
  handler.buildMap({
      internal: {id: 'multi_marks'},
      provider: {
        styles:    mapStyle
      }
    },
    function(){
    var markers = handler.addMarkers(
      <%=raw @hash.to_json%>
    );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
