<div class='row'>
  <div class="events-list col-xs-12 col-md-7 col-lg-8">
    <%= render partial: 'events/events', :locals => {:events => @events} %>
  </div>
  <div class='allmaps col-md-5 col-lg-4 visible-md-block visible-lg-block'>
    <div id="multi_marks"></div>
    <div class="stats"><h1>whatsgood</h1>
      <!-- <div id="good_button" class="btn btn-default disabled">Show me what's good</div> -->

      <ul>
        <li>Total items: <%= @result['total_items'] %></li>
        <li>Page Size: <%= @result['page_size'] %></li>
        <li>Pages: <%= @result['page_count'] %></li>
        <li>Page no: <%= @result['page_number'] %></li>
        <li>Search time: <%= @result['search_time'].round(2) %> seconds</li>
      </ul>  

    </div>
  </div>
</div>



<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_marks'}}, function(){
    var markers = handler.addMarkers(
      <%=raw @hash.to_json%>
    );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
