<input type="hidden" name="page-number" value="1" id="page-number">
<input type="hidden" value="<%= @result['page_count'] %>" id="total-pages">
<input type="hidden" name="can-load-more" value="true" id="can-load-more">
<input type="hidden" name="search-date" value="<%= @date %>" id="search-date">

<div class='row'>
  <div class="visible-sm-block visible-xs-block">
    <% if current_user %>
      <%= render 'filter' %>
    <% end %>
  </div>
  <div class="events-list col-xs-12 col-md-7 col-lg-8">
    <%= render partial: 'events/events', :locals => {:events => @events}  %>
  </div>
  <div class='allmaps col-md-5 col-lg-4 visible-md-block visible-lg-block'>
    <div id="multi_marks"></div>

    <% if current_user %>
      <%= render 'filter' %>
    <% end %>
    <div class="eventful-badge eventful-large">
      <img src="http://api.eventful.com/images/powered/eventful_139x44.gif"
        alt="Local Events, Concerts, Tickets">
      <p><a href="http://eventful.com/">Events</a> by Eventful</p>
    </div>

   <!--  <div class="stats"><h1>whatsgood</h1>
      <ul>
        <%= @events %>
        <li>Total items: <%#= @result['total_items'] %></li>
        <li>Page Size: <%#= @result['page_size'] %></li>
        <li>Pages: <%#= @result['page_count'] %></li>
        <li>Page no: <%#= @result['page_number'] %></li>
        <li>Search time: <%#= @result['search_time'].round(2) %> seconds</li>
      </ul>  
    </div> -->
  </div>
</div>


<%= render partial: 'static_pages/mapjs' %>
