<div id="grid" class="row-fluid">
<% @events.each do |event| %>
  <div class="col-md-3 event-item" data-groups='["photography"]'>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left">
          <h3><%= link_to (sanitize event['title']), event['url'] %></h3>
        </div>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <% if event['stop_time'] %>
          <h3><%= event['start_time'].localtime("-00:00").strftime("%b %d") %> - 
          <%= event['stop_time'].localtime("-00:00").strftime("%b %d") %></h3>
          <% else %>
            <h3><%= event['start_time'].localtime("-00:00").strftime("%A, %b %d, %l:%M %p") %></h3>
          <% end %>
          <%= event['recur_string'] %><br>
          <%= sanitize event['venue_name'] %><br>
          <%= sanitize event['venue_address'] %><br>
          <%= sanitize event['city_name'] %><br>
        </div>
        <div class="list-group-item">
          <% if event['image'] %>
            <div class="event-image"><%= image_tag(event['image']['large']['url'], class: "img-responsive", :alt => 'Image missing') %></div>
          <% end %>  
        </div>
        <div class="list-group-item event-description">
          <h4 class="event-description-button">Description</h4>
          <div class="event-description-body">
            <% if event['description'] %>
              <p class="list-group-item-text"><%= sanitize event['description']%></p>
            <% else %>
              <p class="list-group-item-text">No Description for this event</p>  
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-danger"><i class="fa fa-close"></i>Close</button>
          <button type="button" class="btn btn-success"><i class="fa fa-star"></i>Favorite</button>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>


    
      
    


