<div class="panel panel-default profile">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Profile</h3>
    <% if current_user && current_user == @user %>
      <%= link_to edit_user_registration_path, class: "btn btn-primary pull-right" do %>
        <i class="fa fa-pencil"> Edit Profile</i>
      <% end %>
    <% else %>
      <% if current_user && current_user.follows?(@user) %>
        <div id= "un-follow-box">
          <%= link_to unfollow_path(user: @user), remote: true, class: "btn btn-danger pull-right", id: "unfollow" do %>
            <i class="fa fa-close"> Unfollow</i>
          <% end %>
        </div>  
      <% else %>
        <div id= "follow-box">
          <%= link_to follow_path(user: @user), remote: true, class: "btn btn-primary pull-right", id: "follow" do%>
            <i class="fa fa-thumb-tack"> Follow</i>
          <% end %>
        </div>
      <% end %>  
    <% end %>
  </div>
  <div class="col-sm-4">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url(:medium), class: "img-responsive img-circle profile-photo centered" %>
    <% else %>
      <%= image_tag "icon-user-default.png", class: "img-responsive img-circle profile-photo centered"%>
    <% end %>
  </div>

  <div class="list-group col-sm-8 bio">
    <div class="list-group-item">
      <p class="list-group-item-text">Name</p>
      <h4 class="list-group-item-heading lead"><%= @user.first_name %> <%= @user.last_name %></h4>
    </div>
    <div class="list-group-item">
      <p class="list-group-item-text">About me</p>
      <p class="list-group-item-heading lead"><%= @user.description %></p>
    </div>
    <div class="list-group-item">
      <% @user.categories.each do |category| %>
        <div class="btn btn-default disabled"><%= category.name.titleize %></div>
      <% end %>
    </div>
    <div class="list-group-item">
      <p class="list-group-item-text">Following</p>
      <% @user.followees(User).each do |followee| %>
        <a class="list-group-item no-border" href=<%= current_user ? user_profile_path(followee) : new_user_session_path %> >
                  <% if followee.avatar? %>
                      <%= image_tag followee.avatar.url(:medium), class: "img-responsive img-circle pull-left", alt: "icon-user-default.png" %>
                    <% else %>
                      <%= image_tag "icon-user-default.png", class: "img-circle pull-left"%>
                    <% end %> 
                  <h4 class="list-group-item-heading"><%= followee.first_name %> <%= followee.last_name %></h4>
                  <p class="list-group-item-text"><%= followee.email %></p>
                </a>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div>

<div class="page-header">
  <h3>Favorited Events </h3>
  <div class="btn-group cat-boxes" id="cat-boxes" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" value="*"checked> All
    </label>
     <% @user.categories.each do |cat| %>
      <label class="btn btn-primary">
        <input type="radio" name="options" value=".<%= cat.cat_id %>"checked> <%= cat.name %>
      </label>
    <% end %>
  </div>
</div>

<%= render partial: 'events/favorites', :locals => {:events => @user.events} %>

