<h1>Users#profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>

<p>Lat: <%= @user.latitude %></p>
<p>Long: <%= @user.longitude %></p>
<p>Address: <%= @user.address %></p>

<ul>
  <% @user.categories.each do |category| %>
  <li><%= category.name.titleize %></li>
  <% end %>
  <li>list for eventful search: <%= @user.categories.collect { |name| name.name }.join(',') %></li>
</ul>
<%= link_to 'Events', user_events_path, class: 'btn btn-default' %>