<% if current_user %>
  <input type="hidden" name="current-user" value="<%= current_user.id %>" id="current-user">
<% end %>  
<div id="grid" class="row-fluid">
  <% if events != false %>
<% events.each do |event| %>

  <div class="col-sm-6 col-lg-4 event-item <%= category_class(event) %>" id=<%event['id']%>> 
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <button type="button" class="close card-close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="panel-title">
          <%= link_to (sanitize event['title']), event['url'] %>
        </h3>
      </div>
      <div class="list-group">
        <div class="list-group-item image-block">
          <% if event['image'] %>
            <% image_url = event['image']['perspectivecrop290by250']['url']%>
            <div class="event-image"><%= image_tag(event['image']['perspectivecrop290by250']['url'], class: "img-responsive centered", :alt => 'Image missing') %></div>
          <% else %>
            <% image_url = "events-calendar-icon.png" %>
            <div class="event-image"><%= image_tag("events-calendar-icon.png", class: "img-responsive centered", alt: "Oops no image") %></div>  
          <% end %>  
        </div>
        <div class="list-group-item">
          <% if event['stop_time'] %>
          <div class="card-date"><%= event['start_time'].localtime("-00:00").strftime("%b %d") %> - 
          <%= event['stop_time'].localtime("-00:00").strftime("%b %d") %></div>
          <% else %>
            <div class="card-date"><%= event['start_time'].localtime("-00:00").strftime("%a, %B %d, %l:%M %p") %></div>
          <% end %>
          <%= sanitize event['venue_name'] %><br>
          <%= sanitize event['venue_address'] %><br>
          <%= sanitize event['city_name'] %><br>
        </div>
        
      </div>

      <div class="panel-footer">
        <div class="btn-group btn-group-justified pull-right">
          <div class="btn-group">
            <button class="btn btn-danger" data-toggle="modal" data-target="#modal-<%= event['id'] %>">
              Description
            </button>
          </div>
          <div class="btn-group">
            <% if current_user %>
              <% if (current_user.events.collect { |event| event.eventful_id }).include? event['id'] %>
                <%= link_to user_profile_path(current_user), class: "btn btn-success" do %>
                    <i class="fa fa-star"></i> Favorited
                <% end %>
              <% else %>
                <%= link_to user_events_path(current_user, event: {name: event['title'],
                                                                   image_url: image_url,
                                                                   start_time: event['start_time'],
                                                                   stop_time: event['stop_time'],
                                                                   venue_name: event['venue_name'],
                                                                   venue_address: event['venue_address'],
                                                                   city_name: event['city_name'],
                                                                   website: event['url'],
                                                                   eventful_id: event['id'],
                                                                   description: (truncate(event['description'], length:1000))}),
                                                            method: :post, remote: true, class: "btn btn-primary fav" do %>
                  <i class="fa fa-star"></i> Favorite
                <% end %>
              <% end %>  
            <% else %>
              <%= link_to new_user_session_path, class: "btn btn-primary" do %>
                <i class="fa fa-star"></i> Favorite
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal for card back -->
  <div class="modal fade" id="modal-<%= event['id'] %>" tabindex="-1" role="dialog">
    <div class="panel panel-default modal-dialog">
      <div class="panel-heading clearfix">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="panel-title">
          <%= link_to (sanitize event['title']), event['url'] %>
        </h3>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <div class="event-description-body">
            <% if event['description'] %>
              <p class="list-group-item-text"><%= sanitize event['description']%></p>
            <% else %>
              <p class="list-group-item-text">No Description for this event</p>  
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-danger btn-block" data-dismiss='modal'><i class="fa fa-close"></i>Close</button>
      </div>
    </div>
  </div>

<% end %>
<% else %>
  <div class="panel panel-default no-results">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">No Results Found</h3>
  </div>
  <div class="panel-body">
    <p>No results could be found, update your interests to find more of whatsgood around you.</p>
  </div>
  <div class="panel-footer">
    <%= link_to edit_user_registration_path, class: "btn btn-primary pull-right" do %>
      <i class="fa fa-pencil"> Update Interests</i>
    <% end %>
  </div>
</div><% end %>
</div>
<div id="cards-bottom">&nbsp;</div>


    
      
    


