<div id="grid" class="row-fluid">
  <% events.each do |event| %>
    <div class="col-sm-6 col-md-4 col-lg-3 event-item" data-groups='["photography"]' id=<%= event.id %> > 
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <button type="button" class="close card-close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="panel-title">
            <%= link_to (sanitize event.name), event.website %>
          </h3>
        </div>
        <div class="list-group">
          <div class="list-group-item image-block">
            <div class="event-image">
                <%= image_tag event.image_url, class: 'img img-responsive centered', alt: 'Oops no image' %>
            </div> 
          </div>
          <div class="list-group-item">
            <% if event.stop_time %>
              <div class="card-date"><%= event.start_time.strftime("%b %d") %> - 
              <%= event.stop_time.strftime("%b %d") %></div>
            <% else %>
              <div class="card-date"><%= event.start_time.strftime("%a, %B %d, %l:%M %p")%></div>
            <% end %>
            <%= sanitize event.venue_name %><br>
            <%= sanitize event.venue_address %><br>
            <%= sanitize event.city_name %><br>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified pull-right">
            <div class="btn-group">
              <button class="btn btn-danger" data-toggle="modal" data-target="#modal-<%= event['id'] %>">
                Description
              </button>
            </div>
            <div class="btn-group">
              <% if event.user == current_user %>
                <%= link_to user_event_path(@user.id, event.id), method: :delete, remote: true, class: "btn btn-warning un-fav" do %>
                  <i class="fa fa-star"></i> Unfavorite
                <% end %>
              <% else %> 
                <% if (current_user.events.collect { |event| event.eventful_id }).include? event.eventful_id %>
                  <%= link_to user_profile_path(current_user), class: "btn btn-success" do %>
                      <i class="fa fa-star"></i> Favorited
                  <% end %>
                <% else %>
                  <%= link_to user_events_path(current_user, event: {name: event.name,
                                                                     image_url: event.image_url,
                                                                     start_time: event.start_time,
                                                                     stop_time: event.stop_time,
                                                                     venue_name: event.venue_name,
                                                                     venue_address: event.venue_address,
                                                                     city_name: event.city_name,
                                                                     website: event.website,
                                                                     eventful_id: event.eventful_id,
                                                                     description: event.description}),
                                                              method: :post, remote: true, class: "btn btn-primary fav" do %>
                    <i class="fa fa-star"></i> Favorite
                 <% end %> 
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for card back -->
    <div class="modal fade" id="modal-<%= event.id %>" tabindex="-1" role="dialog">
      <div class="panel panel-default modal-dialog">
        <div class="panel-heading clearfix">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="panel-title">
            <%= link_to (sanitize event.name), event.website %>
          </h3>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <div class="event-description-body">
              <% if event.description %>
                <p class="list-group-item-text"><%= sanitize event.description%></p>
              <% else %>
                <p class="list-group-item-text">No Description for this event</p>  
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger btn-block" data-dismiss='modal'><i class="fa fa-close"></i>Close</button>
        </div>
      </div>
    </div>
  <% end %>
</div>


    
      
    


