<h1>All Events</h1>
<%= link_to 'New Event', new_user_event_path(@user) %>
<div class="panel profile">
<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Start Time</th>
      <th>Start Time</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.rating %></td>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.category %></td>
        <td><%= event.start_time %></td>
        <td><%= event.stop_time %></td>
        <td><%= event.website %></td>
        <td><%= link_to 'View', user_event_path(event.id) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: {confirm: 'You sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

