<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<ul>
  <li>Type: <%= @event.event_type %></li>
  <li>Genre: <%= @event.genre %></li>
  <li>Start Time: <%= @event.start_time %></li>
  <li>Runtime: <%= @event.runtime %></li>
  <li>Website: <%= @event.website %></li>
</ul>
<!-- Dropping Basic Map Container -->
<div class='allmaps' style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'Events', events_path %>
<%= link_to 'Edit', edit_event_path %>
<%= link_to 'Delete', @event, method: :delete, data: {confirm: 'You sure?'} %>