<h1>All Venues</h1>
<%= link_to 'New Venue', new_venue_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>
lin
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.description %></td>
        <td><%= venue.venue_type %></td>
        <td><%= venue.address %></td>
        <td><%= venue.phone %></td>
        <td><%= venue.email %></td>
        <td><%= venue.website %></td>
        <td><%= link_to 'View', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Delete', venue, method: :delete, data: {confirm: 'You sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

