<h1><%= @venue.name %></h1>
<p><%= @venue.description %></p>
<ul>
  <li>Type: <%= @venue.venue_type %></li>
  <li>Genre: <%= @venue.genre %></li>
  <li>Start Time: <%= @venue.phone %></li>
  <li>Runtime: <%= @venue.email %></li>
  <li>Website: <%= @venue.website %></li>
</ul>
<p>Test if lat lon are getting grabbed
LAT: <%= @venue.latitude %>
LON: <%= @venue.longitude %>
</p>
<!-- Dropping Basic Map Container -->
<div class='allmaps' style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'Venues', venues_path %>
<%= link_to 'Edit', edit_venue_path %>
<%= link_to 'Delete', @venue, method: :delete, data: {confirm: 'You sure?'} %>

