<div class="panel panel-default login centered">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Login</h3>
    <span class="pull-right">Don't have an account? &nbsp; <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary" %></span>
  </div>  
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'form-horizontal'}) do |f| %>
      <div class="container-fluid">  
        <div class="form-group form-group-lg">
          <div>
            <%= f.text_field :email, class: "form-control", required: false, autofocus: true, placeholder: 'Email'%>
          </div>
        </div>

        <div class="form-group form-group-lg">
          <div>
            <%= f.password_field :password, class: 'form-control', autocomplete: "off", required: false, placeholder: 'Password' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "pull-right"%>
            </br></br>
          </div>
        </div>
      </div>
      <div class="btn-group col-xs-6" data-toggle="buttons">
        <label class="btn btn-primary btn-block">
          <input class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember me
        </label>
      </div>
      <div class="btn-group col-xs-6">
        <%= f.button :submit, "Sign in", class: 'btn btn-success btn-block' %>
      </div> 

    <% end %>
  </div>
</div>  

